<a href="https://colab.research.google.com/github/santfan/module_9/blob/main/module_9_4_google.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Проработка лекции

In [ ]:
result = lambda x: x + 10
print(result(x = 42))

52

In [ ]:
my_numbers = [1, 2, 3, 4, 5]
result = map(lambda x: x + 10, my_numbers)
print(list(result))

[11, 12, 13, 14, 15]

In [ ]:
my_numbers = [1, 2, 3, 4, 5]
they_numbers = [2, 4, 6, 8, 10]
result = map(lambda x, y: x + y, my_numbers, they_numbers)
print(list(result))

[3, 6, 9, 12, 15]

In [ ]:
def get_multiplier_v1(n):
  if n == 2:
    def multiplier(x):
      return x * 2
  elif n == 3:
    def multiplier(x):
      return x * 3
  else:
    raise Exception('Могу только на 2 или на 3')
  return multiplier

In [ ]:
my_numbers = [1, 2, 3, 4, 5]
by_2 = get_multiplier_v1(2)
by_3 = get_multiplier_v1(3)
#by_4 = get_multiplier_v1(4)
result = map(by_2, my_numbers)
print(list(result))
result = map(by_3, my_numbers)
print(list(result))
#result = map(by_4, my_numbers)
#print(list(result))

[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]

In [ ]:
def get_multiplier_v2(n):
  def multiplier(x):
    return x * n
  return multiplier

In [ ]:
by_5 = get_multiplier_v2(5)
print(by_5(x = 2))

10

In [ ]:
my_numbers = [2, 7, 3, 5]
by_10 = get_multiplier_v2(10)
by_100 = get_multiplier_v2(100)
print(list(map(by_10, my_numbers)))
print(list(map(by_100, my_numbers)))

[20, 70, 30, 50]
[200, 700, 300, 500]

In [ ]:
from pprint import pprint

In [ ]:
def matrix(some_list):
  def multiply_column(x):
    res = []
    for elem in some_list:
      res.append(elem * x)
    return res
  return multiply_column

In [ ]:
my_numbers = [1, 3, 7, 4, 5]
they_numbers = [2, 6, 9, 8, 10]

In [ ]:
matrix_on_my_numbers = matrix(my_numbers)

In [ ]:
result = map(matrix_on_my_numbers, they_numbers)
pprint(list(result))

[[2, 6, 14, 8, 10],
 [6, 18, 42, 24, 30],
 [9, 27, 63, 36, 45],
 [8, 24, 56, 32, 40],
 [10, 30, 70, 40, 50]]

In [ ]:
# создание функции на лету с использованием ООП
class Multiplier:
  def __init__(self, n):
    self.n = n

  def __call__(self, x):
    return x * self.n

In [ ]:
by_100500 = Multiplier(10050)

In [ ]:
result = by_100500(x = 42)
print(result)

422100

In [ ]:
my_numbers = [1, 3, 7, 4, 5]
result = map(by_100500, my_numbers)
print(list(result))

[10050, 30150, 70350, 40200, 50250]

# Домашняя работа

In [ ]:
first = 'Мама мыла раму'
second = 'Рамена мало было'

In [ ]:
print(list(map(lambda x, y: x == y, first, second)))

[False, True, True, False, False, False, False, False, True, False, False, False, False, False]

In [ ]:
def get_advanced_writer(file_name):

  def write_everything(*data_set):

    with open('example.txt', 'w') as flie:
      for elem in data_set:
        flie.write(str(elem) + '\n')

  return write_everything

In [ ]:
write = get_advanced_writer('example.txt')
write('Это строчка', ['А', 'это', 'уже', 'число', 5, 'в', 'списке'])

In [ ]:
from random import choice

In [ ]:
class MysticBall:

  def __init__(self, *words):
    self.words = words

  def __call__(self):
    return choice(self.words)

In [ ]:
first_ball = MysticBall('Да', 'Нет', 'Наверное')
print(first_ball())
print(first_ball())
print(first_ball())

Нет
Наверное
Да